/* .home{
    height: 100vh;
    background-image: url('../../../public/images/bgstelar2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
} */

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(26, 25, 25, 0.7)),
    url("../../utils/images/bgstelar2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  height: 100vh;
}

.algo{
    padding-top: 16%;
}

.name{
    font-weight: bold;
    font-size: 4rem !important;
}

.button{
    background: transparent;
    border-radius: 0%;
}
.redes{
  margin-top: 150px;
}

@media screen and (max-width: 480px) {
  .name{
    font-size: 2.5rem !important;
  }
  .algo{
    padding-top: 58%;
  }
  .is-size-3 {
    font-size: 1.8rem !important;
}
.redes{
  margin-top: 180px;
}

}