.position{    
    background: transparent;
    position: fixed;
    margin-top: 10px;
}

.navbar-link,.navbar-link:hover{
    background: transparent !important;
    border: none;
}
.downdrop{
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.8);
}
