.textMe {
  padding: 3% 10% 10% 10%;
  font-family: Roboto Mono,monospace;
}

.img-skills {
  width: 60px;
  height: 60px;
  margin: 10%;
  transition: 0.4s;
}
.img-skills:hover {
  cursor: pointer;
  width: 65px;
  height: 65px;
}
.p_skills {
  margin-bottom: -5px;
  color: #3e8ed0;
  text-align: center;
}

.cardy {
  margin: 0% 5% 0% 5%;
  border-radius: 30px;
  background: #141414;
  box-shadow: 15px 15px 30px #141414,
              -15px -15px 30px #201f1f;
  
  height: 100%;
  padding: 5%;
}



@media screen and (max-width: 480px) {
  
.textMe {
  padding: 0%;
}
.is-size-1 {
    font-size: 2.1rem !important;
}
}